*.vvp
*.out
*.vcd
sim/
sim_async
sim_stress
synth/
nul
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/
sdk/benchmarks/data/
sdk/data/
*.pt
upload.zip
*.png
sdk/results/
fpga/f2/*.tar
.vscode/
*.swp
*.swo
*~
*.jou
*.log
*.str
.Xil/
*.py[cod]
paper/
